<header>
    <h1>
        <button class="hamburger" on='tap:sidebar1.toggle'>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
            </svg>
        </button>
        <a href="{{ .Site.BaseURL }}">{{ $.Site.Title }}</a>
    </h1>
</header>

<!-- The amp-sidebar component script is included globally. See data/amp/components.toml -->

<amp-sidebar id="sidebar1" layout="nodisplay" side="left">
    <nav class="sidebar-nav">
        <ul>
            <li><a href="{{ $.Site.BaseURL }}">Home</a></li>
            {{ range $section, $taxonomy := .Site.Sections }}
                <li><a href="{{ $taxonomy.Permalink}}">{{ $taxonomy.LinkTitle }}</a></li>
            {{ end }}
        </ul>
    </nav>
</amp-sidebar>